<div class="widget-measure widget-measure-main">
	<span class="widget-label">Esto es una prueba con un valor </span>
	<a class=""widget-link"><%= widget_properties['max'] -%></a>
	<p>Valor inicial: <%= widget_properties['max'] -%></p>
</div>